header {
    background-color: rgb(54, 54, 255);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.card-header {
    font-weight: bold;
}

.container-md {
    flex-direction: column;
    margin-left: 10px;
}

.container-1 {
    flex-direction: column;
    margin-right: 100px;
}

/* Rounded border */
hr.rounded {
    border-top: 2px solid #5a5a5a;
    border-radius: 5px;
    margin: 23px;
  }


#previous-searches {
    margin-left: 10px; /* Adjust the top margin for spacing */
}



/* Media queries to format the screen based on screen sizes*/
@media (max-width: 768px) {
    .previous-search-container {
        display: none;
    }
}

@media (max-width: 575px) {
    .container-1 {
        display: flex;
        margin: 20px;
        
    }
}

@media (max-width: 575px) {
    .container-md {
        display: flex;
        margin: 0px;
        
    }
}